.card {
    width: 70rem;
    height: fit-content;
    background: transparent;
    border: none;
    font-size: 2.5rem;
    color: white;
    letter-spacing: 5px;
}

#footer,
#social-btns,
#new-btns {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}

#footer {
    margin-top: 5rem;
}

#text {
    line-height: 3.75rem;
    font-family: serif;
    text-transform: uppercase;
}

.author {
    text-align: right;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.social-btn {
    width: 3rem;
    padding: .5rem 0;
    color: white;
}

#text:before {
    content: open-quote;
    font-size: 1.75rem;
    margin-right: .5rem;
    font-weight: bold;
    font-family: 'Coustard', serif;
}

#text:after {
    content: close-quote;
    font-size: 1.75rem;
    margin-left: .5rem;
    font-weight: bold;
    font-family: 'Coustard', serif;
}

.new-btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: normal;
}

#tweet-quote {
    background: #1da1f2;
    transition: background .15s;
}

#tweet-quote:hover {
    background: #0c90f0;
}

#tumblr {
    background: #34526f;
    transition: background .15s;
}

#tumblr:hover {
    background: #23415e;
}